---
import Event from "../components/Event.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="DTEK 40 år">
  <style>
    html {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    h1 {
      margin: 8px;
      font-weight: 800;
      line-height: 72px;
      font-size: 40px;
      font-family: 'Raleway', sans-serif;
    }
    .date {
      font-weight: bold;
      font-size: large;
      margin: 8px;
    }
    .pt-4 {margin: 17px;}

    @keyframes entrance {
      from {opacity: 0%;
      margin-top: 100px;}
      to {opacity: 100%;
        margin-top: 0px;}
    }
    

    #event-cards {
      animation-name: entrance;
      animation-duration: 2s;
    }

    li {
      margin-top: 8px;
    }

  </style>
  <div class="container mx-auto">
    <main class="flex flex-col gap-2 pt-2 mx-auto p-4 w">
      <section class=" flex flex-col align-center text-center p-4" id="hero">
        <h1>
          Välkommen till Datateknolog&shy;sektionens jubileumsvecka!
        </h1>
        <h2 class="date">
          8e-13e maj 2023
        </h2>
        <p>
          Sektionen fyller 40 och det ska firas! Under veckan kommer du ha möjlighet att delta i flera olika evenemang arrangerade
          av sektionens olika kommitéer. Vi hoppas att ni ser framemot detta
          lika mycket som vi.
        </p>
        <h2 class="font-bold text-[#fa6607]">Informationen på denna hemsidan riktar sig endast till alumner. Digitala biljettsläpp gäller ej studenter.</h2>

        <section class="p-4" id="events">
          <h2 class="text-center font-bold text-lg p-4">Evenemang</h2>
          <div id="event-cards" class="grid xl:grid-cols-2 grid-cols-1 gap-6">
            <Event
              title="Öppningscermoni med Programledningen"
              datum="8/5"
              description="Jubileumsveckan inleds med en lunch och inspirationsföreläsning tillsammans med datas programledning."
              time="11:00"
              place="Kårhuset"
              nrOfTickets="unlimited"
              img={"oppningscermoni.jpg"}
              ticketInfo={"Paxa senast 17/4"}
              callToAction={"Paxa plats!"}
              link={"https://forms.gle/86bbSLxLGjJVTmCg6"}
              linkfb={"https://fb.me/e/MbwJ2SXb"}
              mail={"filip.lindset@dtek.se"}
            />
            <Event
              title="Lyxpub med Delta"
              datum="9/5"
              description="Kom och testa på Deltas berömda ölutbud på en lite lyxare basenpub. "
              time="19:00 - 21:45 eller 22:15-01:00"
              place="Basen"
              nrOfTickets="100 st*"
              img={"pub2.jpg"}
              ticketInfo={"Biljettsläpp 10/4 kl: 19:00"}
              link={"https://secure.tickster.com/sv/5mppxckw83l0ch4"}
              linkfb={"https://fb.me/e/3j9Oig8e1"}
              mail={"carl.johansson@dtek.se"}
            />
              <Event
              title="Tapasprovning med DKock"
              datum="10/5"
              description="Testa god mat och dryck med datas matlagningskommite DKock."
              time="15:00 eller 19:00"
              place="Rotary Pub" 
              nrOfTickets="50 st*"
              img={"musslor.jpg"}
              ticketInfo={"Biljettsläpp 11/4 kl: 19:00"}
              link={"https://secure.tickster.com/sv/gw2k72ak9a393ne"}
              linkfb={"https://fb.me/e/GSZPgRe0"}
              mail={"jonas.hedlund@dtek.se"}
            />
            <Event
              title="Spelkväll med DLude"
              datum="11/5"
              description="Häng med på en kul spelkväll med DLude på i Spelhuset på Liseberg! Kvällen avslutas med spelkväll och mingel i Basen för de som vill."
              time="19:00-21:00"
              place="Spelhuset, Liseberg"
              nrOfTickets="75 st*"
              img={"spel.jpg"}
              ticketInfo={"Biljettsläpp 12/4 kl: 19:00"}
              link={"https://secure.tickster.com/sv/wglpan92nh6cl6f"}
              linkfb={"https://fb.me/e/Q9zw8k2D"}
              mail={"conrad.olsson@dtek.se"}
            />
            <Event
              title="Bastu med DKAK och D6"
              datum="12/5"
              description="Häng med ut till Härryda för en go sittning med D6 och DKAK. Det blir bad, bastu, sittning och eftersläpp! Buss går från Chalmers 16:45 och hem 01:00."
              time="16:45-01:00"
              place="Chalmersbastun"
              nrOfTickets="40 st*"
              img={"bastulokal.jpg"}
              ticketInfo={"Biljettsläpp 17/4 kl: 19:00"}
              link={"https://secure.tickster.com/sv/upehhylxwgjj0db"}
              linkfb={"https://fb.me/e/4iIHOaV1e"}
              mail={"samuel.jonsson@dtek.se"}
            />
            <Event
              title="Finsittning med Jubileumsgruppen"
              description="Jubileet avslutas med finsittning! Vi startar med mingel på campus för att sedan gå på sittning. Efteråt finns möjlighet att röra sig till Basen eller Gasquen!"
              datum="13/5"
              time="15:00-00:00"
              place="Campus"
              nrOfTickets="100 st*"
              img={"fin.jpg"}
              ticketInfo={"Biljettsläpp 18/4 kl: 19:00"}
              link={"https://secure.tickster.com/sv/1g6fphw5gef2mhp"}
              linkfb={"https://fb.me/e/488qSC2Xq"}
              mail={"vera.svensson@dtek.se"}
            />
          </div>
        </section>
        <section class="p-4" id="info">
          <h2 class="text-center font-bold text-lg p-4">Biljettinfo</h2>
          <p>* Biljettantalet syftar endast till antalet alumnbiljetter</p>
          <p>
            Till de flesta arrangemang kommer man behöva köpa biljett.
            Kostnaden för biljetterna varierar och synas vid köp av biljett.
            Eftersom platserna är väldigt begränsade rekomenderar vi att vara redo vid biljettsläppen.
            Vi har en viss kvot student/alumn biljetter för varje arrangemang och antalet som visas på hemsidan syftar till antalet alumnbiljetter.
            Biljettförsäljningen kommer skilja sig mellan de två grupperna: 
          </p>
            <div id="ticket-text" class="grid xl:grid-cols-2 grid-cols-1 gap-12 mt-8">
              <div id="ticket-students" class="rounded border py-4 px-16">
                <h3 class="font-medium text-lg cursor-default text-center pb-0">Studenter</h3>

                <ul>
                  <li> Fysiskt biljettsläpp i Basen</li>
                  <li> Biljättsläpp sker under lunch, kl: 12-13</li>
                  <li> En +1 (student)</li>
                  <li>Biljettsläppen sker samma dag som de digitala släppen</li>
                </ul>
              </div>

              <div id="ticket-alumni" class="rounded border py-4 px-16">
                <h3 class="font-medium text-lg cursor-default text-center pb-0">Alumner</h3>

                <ul>
                  <li> Biljetter köps digitalt via Tickster</li>
                  <li> En +1. Det är möjligt att köpa 2 biljetter åt gången. Köp endast till andra alumner.</li>
                  <li>Datum och tid för biljettsläpp står på eventkorten</li>
                </ul>

              </div>

            </div>
        </section>
      </section>
    </main>
  </div>
</Layout>
