---
let now: Date = new Date();
---

<footer class="font-thin p-2 text-center flex flex-col">
  <a href="mailto:Jubileum@dtek.se"> Jubileum@dtek.se</a>
  <a href="https://dtek.se">
    Datateknologsektionen Chalmers Studentkår <span
      class="md:inline-block block">&copy {now.getFullYear()}</span
    >
  </a>
</footer>
