---
export interface Props {}
const {} = Astro.props;
---

<nav class="p-4 flex shadow items-center gap-2">
  <img class="w-10 h-10" src="dtek.svg" alt="dtek logo" />
  <h1 class="font-medium text-center md:text-left w-fit">
    Datateknologsektionens 40-årsjubileum
  </h1>
</nav>
