---
export interface Props {}
const {} = Astro.props;
---

<nav class="p-4 flex items-center gap-2">
  <img class="w-12 h-16" src="koncept_jubel_2.svg" alt="dtek jubileum logo" />
  <h1 class="font-medium cursor-default text-center md:text-left w-fit">
    Datateknologsektionens 40-årsjubileum
  </h1>
</nav>
